= form_for @subcategory, html: {class: 'ui form'} do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category_id
    = f.collection_select :category_id, @categories, :id, :name, { include_blank: true}
  = f.submit "submit", class: 'ui button green'
