.ui.grid
  .five.wide.column
    .ui.medium.circular.image
      = image_tag @user.avatar.url(:large) if @user.avatar?
    %br/
    = link_to "редактировать", edit_user_registration_path, class: 'fluid ui button blue'
    = link_to "Мои обьявления", mycourses_path(@user.id), class: 'fluid ui button green'
    = link_to "2", edit_user_registration_path, class: 'fluid ui button red'

  .eleven.wide.column
    .ui.list
      .item
        Ник:
        = @user.username
      .item
        Номер телефона:
        = @user.phonenumber
      .item
        Имейл:
        = @user.email
      .item
        Образование:
        = @user.education
      .item
        мои навыки:
        - (0..5).each do
          %a.ui.label
            Tag
      .item
        Мой возраст:
        = @user.age
      .item Локация: Ukr, zp
      .item пол: мужской
      .item
        О себе:
        = @user.body
      - if @user.image1? || @user.image2? || @user.image3? || @user.image4? || @user.image5? || @user.image6? || @user.image7? || @user.image8? || @user.image9? || @user.image10?
        .item
          Фото:
          .ui.small.images
            = image_tag @user.image1.url(:thumb) if @user.image1?
            = image_tag @user.image2.url(:thumb) if @user.image2?
            = image_tag @user.image3.url(:thumb) if @user.image3?
            = image_tag @user.image4.url(:thumb) if @user.image4?
            = image_tag @user.image5.url(:thumb) if @user.image5?
            = image_tag @user.image6.url(:thumb) if @user.image6?
            = image_tag @user.image7.url(:thumb) if @user.image7?
            = image_tag @user.image8.url(:thumb) if @user.image8?
            = image_tag @user.image9.url(:thumb) if @user.image9?
            = image_tag @user.image10.url(:thumb) if @user.image10?
      .item
        Видео:
        %br/
        %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture",
        :allowfullscreen => "", :frameborder => "0", :height => "315",
        :src => "https://www.youtube.com/embed/#{@user.video_url}", :width => "560"}

-#    <div class="sixteen wide column">
-#      <div class="ui menu">
-#        <a href="my_courses.html" class="item">Мои обьявления</a>
-#        <a href="my_tasks.html" class="item">Мои задачи</a>
-#        <a href="my_tasks.html" class="item">Мои сообщения</a>
-#        <a href="my_tasks.html" class="item">Уведомления</a>
-#        <a href="my_tasks.html" class="item">мой счет</a>
-#        <div class="right menu">
-#          <a href="edit_prodile.html" class="ui item">
-#            Редактировать
-#          </a>
-#        </div>
-#      </div>
-#    </div>

