= form_for @subsubcategory, html: {class: 'ui form'} do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :subcategory_id
    = f.collection_select :subcategory_id, @subcategories, :id, :name, { include_blank: true}
  = f.submit "submit", class: 'ui button green'
