.ui.cards.grid
  .three.wide.column.ui.card
    %a.ui.medium.image{:href => courses_path}
      = image_tag "https://semantic-ui.com/images/avatar2/large/matthew.png"
    .content
      = link_to "курсы", courses_path, class: 'header'
  .three.wide.column.ui.card
    %a.ui.medium.image{:href => courses_path}
      = image_tag "https://semantic-ui.com/images/avatar2/large/matthew.png"
    .content
      = link_to "курсы", courses_path, class: 'header'
  .three.wide.column.ui.card
    %a.ui.medium.image{:href => courses_path}
      = image_tag "https://semantic-ui.com/images/avatar2/large/matthew.png"
    .content
      = link_to "курсы", courses_path, class: 'header'
  .three.wide.column.ui.card
    %a.ui.medium.image{:href => courses_path}
      = image_tag "https://semantic-ui.com/images/avatar2/large/matthew.png"
    .content
      = link_to "курсы", courses_path, class: 'header'
  .three.wide.column.ui.card
    %a.ui.medium.image{:href => courses_path}
      = image_tag "https://semantic-ui.com/images/avatar2/large/matthew.png"
    .content
      = link_to "курсы", courses_path, class: 'header'