.item
  %a.ui.small.image{:href => "#{course_path(course)}"}
    -#= image_tag @user.avatar.url(:large) if @user.avatar?
    = course.user_id
    = image_tag "https://semantic-ui.com/images/avatar2/large/kristy.png"
  .content
    -#= @user.name
    - if course.c_username.present?
      = link_to course.c_username, course_path(course)
    .meta
      - if course.price.present?
        цена:
        = course.price
      - if course.category.present?
        = link_to course.category.name, course.category

    - if course.body.present?
      .description
        = course.body