= form_for @course, html: {class: 'ui form'} do |f|
  .field
    = f.label :c_username
    = f.text_field :c_username, value: current_user.username
  .field
    = f.label :c_phone
    = f.text_field :c_phone, value: current_user.phonenumber
  .field
    = f.label :c_email
    = f.text_field :c_email, value: current_user.email
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :c_education
    = f.text_field :c_education, value: current_user.education
  .field
    = f.label :c_age
    = f.text_field :c_age, value: current_user.age
  .field
    = f.label :category_id
    = f.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true}
  .field
    = f.label :c_video_url
    = f.text_field :c_video_url, value: current_user.video_url
  .field
    = f.label :body
    = f.text_area :body, value: current_user.body
  = f.submit "submit", class: 'ui button green'
