.ui.grid
  .five.wide.column
    .ui.medium.circular.image
      = image_tag @course.user.avatar.url(:large) if @course.user.avatar?
  .seven.wide.column
    .item

      предмет обучения:
      = @course.category.name
    - if @course.c_username.present?
      .ui.list
        .item
          Ник:
          = @course.c_username
    - if @course.c_phone.present?
      .ui.list
        .item
          Номер телефона:
          = @course.c_phone
    - if @course.c_email.present?
      .ui.list
        .item
          Имейл:
          = @course.c_email
    - if @course.price.present?
      .ui.list
        .item
          цена:
          = @course.price
    - if @course.c_education.present?
      .ui.list
        .item
          образование:
          = @course.c_education
    - if @course.c_age.present?
      .ui.list
        .item
          возраст:
          = @course.c_age
          = @course.user_id
  - if user_signed_in? && @course.user_id === current_user.id
    .four.wide.column
      = link_to "редактировать", edit_course_path(@course), class: 'ui button blue'
      = link_to "удалить", course_path(@course), method: :delete, class: 'ui button red'


  - if @course.body.present?
    .sixteen.wide.column
      %h2 Описание:
      %p= @course.body
  - if @course.c_video_url.present?
    .sixteen.wide.column
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{@course.c_video_url}", :width => "560"}

-#      <div class="item">вид обучения: вид</div>
-#      <div class="item">предмет обучения: предмет</div>
-#      <div class="item">уровень обучения: уровень</div>
-#      <div class="item">время обучения: пн 8-10</div>