.ui.secondary.menu
  = link_to "главаная", root_path, class: 'ui button red'
  = link_to "Обьявления", courses_path, class: 'ui button orange'
  = link_to "Категории", categories_path, class: 'ui button orange'
  = link_to "Под категории", subcategories_path, class: 'ui button orange'
  = link_to "Под под категории", subsubcategories_path, class: 'ui button orange'
  .right.menu
    - if user_signed_in?
      = link_to "#{current_user.username if current_user.username.present?}", user_path(current_user), class: 'ui button blue'
      = link_to "Выход", destroy_user_session_path, method: :delete, class: 'ui button blue'
    -else
      = link_to "Вход", new_user_session_path, class: 'ui button green'
    = link_to "создать обьявление", new_course_path, class: 'ui button orange'


-#    <a href="tasks.html" class="ui button blue">просмотреть задания</a>
-#    <a href="new_task.html" class="ui button blue">создать задание</a>

-#    <a href="profile.html" class="ui item">Профиль</a>
-#    <a class="ui item">язык</a>
